<hr>
<div class="row">
    <a href="./userOrders" type="button" class="btn btn-success pull-right">User Orders</a>
</div>
<hr>
<div class="row">
    <a href="./userAddresses" type="button" class="btn btn-success pull-right">User Addresses</a>
</div>
<hr>
<div class="row">
    <a href="./userPaymentMethods" type="button" class="btn btn-success pull-right">User Payment Methods</a>
</div>
<hr>